.footer {
    background-color: #000;
    color:#fff;
    height: 170px;
    width: 100%;
    position: absolute;
    margin: 0px auto;
    padding: 20px 20px;

    &__footer-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .footer-item__footer-icon {
            cursor:pointer;
        }
    }

    &__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;

        &--wrapper {
            padding: 20px;
        }
    }
}

